* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0.01rem auto;
}

.header h2 {
  text-align: left;
  background-color: orange;
  padding: 20px;
}

.nav-bar {
  display: flex;
  background-color: rgb(194, 191, 191);
  padding: 10px;
  margin-bottom: 10px;
}

.nav-bar a {
  text-decoration: none;
  margin-left: 10px;
  color: black;
}

.container {
  display: flex;
  padding: 20px;
  gap: 70px;
}

.container .main-content{
  flex: 1;
}
.container .main-content{
  width: 300px;
}
.container h2 {
  padding: 20px 0;
}

.container p {
  padding: 10px 0;
}

.side-content h2 {
  background-color: orange;
  width: 150px;
  padding: 10px;
  font-size: medium;
  margin-top: 20px;
}

.side-content li {
  text-decoration: none;
  background-color: rgb(207, 203, 203);
  padding: 10px;
  list-style-type: none;
  border-bottom: 1px rgb(199, 183, 183) solid;
}
